/* Основные стили для body */
body {
    background-color: #004d40; /* Темный бирюзовый фон */
    font-family: 'Arial', sans-serif; /* Шрифт */
    color: #ffffff; /* Цвет текста */
}

/* Стили для навигационного меню */
.navbar {
    background-color: #00796b; /* Темный бирюзовый для навигационного меню */
    border-bottom: 2px solid #00332b; /* Темный бордер */
}

.navbar-brand {
    font-size: 1.5rem; /* Размер шрифта для названия */
    font-weight: bold; /* Жирный шрифт */
    color: #ffffff; /* Белый цвет текста */
}

.nav-link {
    color: #ffffff; /* Белый цвет текста для ссылок */
    transition: color 0.3s; /* Плавный переход цвета */
}

    .nav-link:hover {
        color: #ffd54f; /* Цвет при наведении на ссылки */
    }

/* Стили для основного содержимого */
.container {
    margin-top: 20px; /* Отступ сверху */
    background-color: #ffffff; /* Белый фон для контейнера */
    border-radius: 10px; /* Скругление углов контейнера */
    padding: 20px; /* Отступы внутри контейнера */
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); /* Тень для контейнера */
}

/* Стили для подвала */
.footer {
    background-color: #00332b; /* Темный бордовый для подвала */
    color: #ffffff; /* Белый цвет текста в подвале */
    padding: 10px 0; /* Отступ сверху и снизу */
    text-align: center; /* Центрирование текста */
}

/* Стили для кнопок */
.btn-success {
    background-color: #009688; /* Бирюзовый цвет для кнопок */
    border-color: #00796b; /* Темный бирюзовый для границы кнопок */
    transition: background-color 0.3s, border-color 0.3s; /* Плавный переход */
}

    .btn-success:hover {
        background-color: #00796b; /* Темный бирюзовый при наведении */
        border-color: #004d40; /* Темный бордер при наведении */
    }

/* Стили для заголовков */
h1, h2, h3 {
    color: #ffffff; /* Белый цвет для заголовков */
    margin-bottom: 15px; /* Отступ снизу */
}

/* Стили для ссылок в подвале */
.footer a {
    color: #ffd54f; /* Цвет ссылок в подвале */
}

    .footer a:hover {
        text-decoration: underline; /* Подчеркивание при наведении */
    }

/* Стили для изображений */
img {
    max-width: 10%; /* Ограничивает ширину изображения */
    height: auto; /* Сохраняет пропорции изображения */
    border-radius: 5px; /* Скругление углов изображения (по желанию) */
}

.custom-img {
    max-width: 75%; /* Установите максимальную ширину изображения (например, 50% от родительского контейнера) */
    height: auto; /* Сохраняет пропорции изображения */
}
