body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    color: #333;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

header {
    text-align: center;
    margin-bottom: 30px;
}

h1 {
    font-size: 2.5em;
    color: #4a90e2; /* ÷вет, соответствующий стилю канцел€рского магазина */
}

h2 {
    color: #333;
    margin-top: 20px;
}

.policy-content p {
    line-height: 1.6;
    margin-bottom: 15px;
}

footer {
    text-align: center;
    margin-top: 30px;
    font-size: 0.9em;
    color: #777;
}

.logo {
    width: 100%;
    max-width: 450px;
    margin-bottom: 100px;
}
